# Telegram
BOT_TOKEN=

# Admin
ADMIN_ID=
GROUP_ID=

# Database
SUPABASE_URL=
SUPABASE_KEY=

# Optional Features
SUPPORT_CHAT_ID=
RESULTS_GROUP_ID=

# Bot Customization
BOT_NAME=Kasib

# Economy Settings
REFERRAL_REWARD=10
EXCHANGE_COST=1000
